<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>I miei acquisti</title>

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{url_for('static', filename='styles/myPurchase.css')}}">
    <script src="{{url_for('static', filename='vendor/js/web3.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
    <script type="text/javascript">
        var getText = null;
        //mi estraggo i parametri che mi porto da pagina iniziale
        var queryString = new Array();
        function onload() {
            if (queryString.length == 0) {
                if (window.location.search.split('?').length > 1) {
                    var parametro = window.location.search.split('?')[1];
                    //name=Mudassar Khan
                        var key = parametro.split('=')[0];
                        var value = decodeURIComponent(parametro.split('=')[1]);
                        //queryString[key] = value;
                        getText = value
                        console.log(getText)

                }
            }
        };

        function Send() {
            console.log("ciao")
            var name = getText;
            var url = "http://127.0.0.1:8115/?name=" + encodeURIComponent(name);
            window.location.href = url;
        };

        function Send1() {
            var name = getText;
            var url = "http://127.0.0.1:8115/catalogo?name=" + encodeURIComponent(name);
            window.location.href = url;
        };

        if (typeof web3 !== 'undefined') {
            web3 = new Web3(web3.currentProvider);
        } else {
            // set the provider you want from Web3.providers
            web3 = new Web3(new Web3.providers.HttpProvider("http://localhost:7545"));
        }

        web3.eth.defaultAccount = web3.eth.accounts[0];

        var SmartContract = web3.eth.contract([
            {
              "constant": false,
              "inputs": [
                {
                  "internalType": "string",
                  "name": "artId",
                  "type": "string"
                },
                {
                  "internalType": "address",
                  "name": "user",
                  "type": "address"
                }
              ],
              "name": "purchase",
              "outputs": [],
              "payable": false,
              "stateMutability": "nonpayable",
              "type": "function"
            },
            {
              "constant": true,
              "inputs": [
                {
                  "internalType": "address",
                  "name": "user",
                  "type": "address"
                }
              ],
              "name": "getproducts",
              "outputs": [
                {
                  "internalType": "string[]",
                  "name": "",
                  "type": "string[]"
                }
              ],
              "payable": false,
              "stateMutability": "view",
              "type": "function"
            }
          ]);
        var SmartContract1 = web3.eth.contract([
            {
              "constant": true,
              "inputs": [
                {
                  "internalType": "uint256",
                  "name": "",
                  "type": "uint256"
                }
              ],
              "name": "candidateList",
              "outputs": [
                {
                  "internalType": "bytes32",
                  "name": "",
                  "type": "bytes32"
                }
              ],
              "payable": false,
              "stateMutability": "view",
              "type": "function"
            },
            {
              "constant": true,
              "inputs": [
                {
                  "internalType": "bytes32",
                  "name": "",
                  "type": "bytes32"
                }
              ],
              "name": "votesReceived",
              "outputs": [
                {
                  "internalType": "uint256",
                  "name": "",
                  "type": "uint256"
                }
              ],
              "payable": false,
              "stateMutability": "view",
              "type": "function"
            },
            {
              "constant": false,
              "inputs": [
                {
                  "internalType": "bytes32[]",
                  "name": "candidateNames",
                  "type": "bytes32[]"
                }
              ],
              "name": "voting",
              "outputs": [],
              "payable": false,
              "stateMutability": "nonpayable",
              "type": "function"
            },
            {
              "constant": true,
              "inputs": [
                {
                  "internalType": "bytes32",
                  "name": "candidate",
                  "type": "bytes32"
                }
              ],
              "name": "totalVotesFor",
              "outputs": [
                {
                  "internalType": "uint256",
                  "name": "",
                  "type": "uint256"
                }
              ],
              "payable": false,
              "stateMutability": "view",
              "type": "function"
            },
            {
              "constant": false,
              "inputs": [
                {
                  "internalType": "bytes32",
                  "name": "candidate",
                  "type": "bytes32"
                }
              ],
              "name": "voteForCandidate",
              "outputs": [],
              "payable": false,
              "stateMutability": "nonpayable",
              "type": "function"
            },
            {
              "constant": true,
              "inputs": [
                {
                  "internalType": "bytes32",
                  "name": "candidate",
                  "type": "bytes32"
                }
              ],
              "name": "validCandidate",
              "outputs": [
                {
                  "internalType": "bool",
                  "name": "",
                  "type": "bool"
                }
              ],
              "payable": false,
              "stateMutability": "view",
              "type": "function"
            },
            {
              "constant": true,
              "inputs": [],
              "name": "getCandidateList",
              "outputs": [
                {
                  "internalType": "bytes32[]",
                  "name": "",
                  "type": "bytes32[]"
                }
              ],
              "payable": false,
              "stateMutability": "view",
              "type": "function"
            }
          ])
        var contract = SmartContract.at("0x24a26BB3613281bf33Fa0370284d61b7a554d6d4");
        var contract1 = SmartContract1.at("0x2A3a51DC70379C15Ad6318b723Ad601A9252DB65")

        function getUser(){
            if(getText == "Ilaria")
                return web3.eth.accounts[0];
            if(getText == "Andrea")
                return web3.eth.accounts[1];
            if(getText == "Gabriele")
                return web3.eth.accounts[2];
            if(getText == "User4")
                return web3.eth.accounts[3];
            if(getText == "User5")
                return web3.eth.accounts[4];
            if(getText == "User6")
                return web3.eth.accounts[5];
            if(getText == "User7")
                return web3.eth.accounts[6];
            if(getText == "User8")
                return web3.eth.accounts[7];
            if(getText == "User9")
                return web3.eth.accounts[8];
            if(getText == "User10")
                return web3.eth.accounts[9];
            
        }
        var products = [];
        function vota(ricevente){
            var sender = getUser();
            var receiver = ricevente;

            //forse da rendere globale e da implementare una funzione di aggiunta
            contract1.voting(products);
            contract1.voteForCandidate(receiver);
            
            alert("Grazie, la tua valutazione ci sarà molto utile!");
            console.log(contract1.getCandidateList())
            //var tot = contract.totalVotesFor(receiver)
            //console.log(tot.toNumber())
        }

        function getBuyer() {
            var user = getUser();
            console.log(user)
            console.log(getText)

            products = contract.getproducts(user);

            console.log(products);
            for(let i = 1;  i < products.length; i+=2){
                
                $("#locatedDiv").append('<div class="product-grid__product-wrapper"><div class="product-grid__product"><div class="product-grid__img-wrapper"><img src="https://www.grandibottiglie.com/18943-home_default/bottiglia-vino-personalizzata-barbera-d-alba-doc-2019-lanzarotti.jpg" alt="Img" class="product-grid__img" /></div><span class="product-grid__title">'+ products[i] +'</span><div class="product-grid__extend-wrapper"><div class="product-grid__extend"><p class="product-grid__description">Clicca su vota per lasciarsi il tuo feedback</p><span onclick="vota(products['+ i +'] )" class="product-grid__btn product-grid__add-to-cart"><i class="fa fa-cart-arrow-down"></i>Vota</span></div></div></div></div>');
            }


        }
        jQuery(document).ready(function($){
 
    // Define a blank array for the effect positions. This will be populated based on width of the title.
    var bArray = [];
    // Define a size array, this will be used to vary bubble sizes
    var sArray = [4,6,8,10];
 
    // Push the header width values to bArray
    for (var i = 0; i < $('.bubbles').width(); i++) {
        bArray.push(i);
    }
     
    // Function to select random array element
    // Used within the setInterval a few times
    function randomValue(arr) {
        return arr[Math.floor(Math.random() * arr.length)];
    }
 
    // setInterval function used to create new bubble every 350 milliseconds
    setInterval(function(){
         
        // Get a random size, defined as variable so it can be used for both width and height
        var size = randomValue(sArray);
        // New bubble appeneded to div with it's size and left position being set inline
        // Left value is set through getting a random value from bArray
        $('.bubbles').append('<div class="individual-bubble" style="left: ' + randomValue(bArray) + 'px; width: ' + size + 'px; height:' + size + 'px;"></div>');
         
        // Animate each bubble to the top (bottom 100%) and reduce opacity as it moves
        // Callback function used to remove finsihed animations from the page
        $('.individual-bubble').animate({
            'bottom': '100%',
            'opacity' : '-=0.7'
        }, 3000, function(){
            $(this).remove()
        }
        );
 
 
    }, 350);
 
});
        onload()

        
    </script>
</head>

<body>
<div class="bubbles">
<h1 id="c" style="color: darkred;font-size: 60px;" ></h1>
</div>

</div>
</div>

<script>document.getElementById("c").innerHTML = getText;</script>
    <div class="patterns">
  <svg width="100%" height="100%">
<text x="50%" y="60%" text-anchor="middle"  >
   I miei acquisti
 </text>
 <p>E tu, quale hai preferito?</p>
 </svg>
</div>

    <div class="content">
        <!-- content here -->
        <div class="product-grid product-grid--flexbox">
            <div class="product-grid__wrapper" id="locatedDiv">
                <!-- Product list start here -->

                <!-- Single product -->
                
                
                <script type="text/javascript">
                    getBuyer();
                </script>
                <!-- end Single product -->
                
                
                   
            </div>

        </div>

        <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">

                <div id="btn" onclick="Send()">
                    <span class="noselect">Home</span>
                    <div id="circle"></div>
                </div>
                <div id="btn1" onclick="Send1()"> 
                    <span class="noselect1">Catalogo</span>
                    <div id="circle1"></div>
                </div> 

    </div>
</div>

</div>
   
</body>

</html>
