<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Catalogo</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/shop-css.css') }}">

    <script src="{{url_for('static', filename='vendor/js/web3.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>

    <script>
        var getText = null;
        //mi estraggo i parametri che mi porto da pagina iniziale
        var queryString = new Array();
        window.onload = function () {
            if (queryString.length == 0) {
                if (window.location.search.split('?').length > 1) {
                    var parametro = window.location.search.split('?')[1];
                    //name=Mudassar Khan
                        var key = parametro.split('=')[0];
                        var value = decodeURIComponent(parametro.split('=')[1]);
                        //queryString[key] = value;
                        getText = value

                }
            }
            //if (queryString["name"] != null && queryString["technology"] != null) {
            //    var data = "<u>Values from QueryString</u><br /><br />";
            //    data += "<b>Name:</b> " + queryString["name"] + " <b>Technology:</b> " + queryString["technology"];
            //    document.getElementById("lblData").innerHTML = data;
            //}
        };

        function Send() {
            var name = getText;
            var url = "http://127.0.0.1:8115/?name=" + encodeURIComponent(name);
            window.location.href = url;
        };

         function Send1() {
            var name = getText;
            var url = "http://127.0.0.1:8115/classifica?name=" + encodeURIComponent(name);
            window.location.href = url;
        };

        function Send2() {
            var name = getText;
            var url = "http://127.0.0.1:8115/acquisti?name=" + encodeURIComponent(name);
            window.location.href = url;
        };        

        if (typeof web3 !== 'undefined') {
            web3 = new Web3(web3.currentProvider);
        } else {
            // set the provider you want from Web3.providers
            web3 = new Web3(new Web3.providers.HttpProvider("http://localhost:7545"));
        }

        web3.eth.defaultAccount = web3.eth.accounts[0];

        var SmartContract = web3.eth.contract([{
                "constant": true,
                "inputs": [],
                "name": "last_completed_migration",
                "outputs": [{
                    "name": "",
                    "type": "uint256"
                }],
                "payable": false,
                "stateMutability": "view",
                "type": "function",
                "signature": "0x445df0ac"
            },
            {
                "constant": true,
                "inputs": [],
                "name": "owner",
                "outputs": [{
                    "name": "",
                    "type": "address"
                }],
                "payable": false,
                "stateMutability": "view",
                "type": "function",
                "signature": "0x8da5cb5b"
            },
            {
                "inputs": [],
                "payable": false,
                "stateMutability": "nonpayable",
                "type": "constructor",
                "signature": "constructor"
            },
            {
                "constant": false,
                "inputs": [{
                    "name": "completed",
                    "type": "uint256"
                }],
                "name": "setCompleted",
                "outputs": [],
                "payable": false,
                "stateMutability": "nonpayable",
                "type": "function",
                "signature": "0xfdacd576"
            },
            {
                "constant": false,
                "inputs": [{
                    "name": "new_address",
                    "type": "address"
                }],
                "name": "upgrade",
                "outputs": [],
                "payable": false,
                "stateMutability": "nonpayable",
                "type": "function",
                "signature": "0x0900f010"
            },
            {
                "constant": true,
                "inputs": [{
                    "name": "",
                    "type": "uint256"
                }],
                "name": "buyers",
                "outputs": [{
                    "name": "",
                    "type": "address"
                }],
                "payable": false,
                "stateMutability": "view",
                "type": "function",
                "signature": "0xf2aa8218"
            },
            {
                "constant": false,
                "inputs": [{
                    "name": "artId",
                    "type": "uint256"
                }],
                "name": "purchase",
                "outputs": [{
                    "name": "",
                    "type": "uint256"
                }],
                "payable": false,
                "stateMutability": "nonpayable",
                "type": "function",
                "signature": "0xefef39a1"
            },
            {
                "constant": true,
                "inputs": [],
                "name": "getBuyers",
                "outputs": [{
                    "name": "",
                    "type": "address[6]"
                }],
                "payable": false,
                "stateMutability": "view",
                "type": "function",
                "signature": "0xf64bfaba"
            }
        ]);
        var contract = SmartContract.at("0x05DA716f1434674bb231468224308aDB460ee620");

        function getUser(){
            if(getText == "Ilaria")
                return web3.eth.accounts[0];
            if(getText == "Andrea")
                return web3.eth.accounts[1];
            if(getText == "Gabriele")
                return web3.eth.accounts[2];
            if(getText == "User 4")
                return web3.eth.accounts[3];
            if(getText == "User 5")
                return web3.eth.accounts[4];
            if(getText == "User 6")
                return web3.eth.accounts[5];
            if(getText == "User 7")
                return web3.eth.accounts[6];
            if(getText == "User 8")
                return web3.eth.accounts[7];
            if(getText == "User 9")
                return web3.eth.accounts[8];
            if(getText == "User 10")
                return web3.eth.accounts[9];
            
        }

        function purchase(artId, cost) {

            var sender = getUser();
            var receiver = web3.eth.accounts[9];

            var balance = web3.eth.getBalance(sender).toNumber();
            console.log(balance);

            var amount = web3.toWei(cost, 'ether');
            console.log(amount)
            if (balance > amount) {
                contract.purchase(artId);
                web3.eth.sendTransaction({
                    from: sender,
                    to: receiver,
                    value: amount
                });
                alert("Complimenti, hai acquistato l'oggetto!");
                document.location.reload(true)
            } else {
                alert("Non hai abbastanza fondi per comprare l'oggetto!");
            }
        }

        function getBuyer(artId) {

            var buyer = contract.buyers(artId);

            return buyer;
        }

        function getBalance() {

            var myBalanceWei = web3.eth.getBalance(web3.eth.defaultAccount).toNumber();
            var myBalance = web3.fromWei(myBalanceWei, 'ether');

            return myBalance;
        }
        var acquirenti = contract.getBuyers();

        //$(document).ready(function() {

        //    for (var i = 0; i < 6; i++) {
        //        if (!acquirenti[i].startsWith("0x00")) {
        //            $("h6").eq(i).html("Venduto");
        //            $(".card-footer").eq(i).css("background-color", "red");
        //            $(".link_shop").eq(i).removeAttr('href');
        //            $(".card-footer").eq(i).css("pointer-events", "none");
        //        }
        //    }
        //});

    </script>


</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Ethereum wine shop</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" onclick="Send()">Home
              <span class="sr-only">(current)</span>
            </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="Send2()">I miei acquisti</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="Send1()" ">Classifica</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div>

                <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img class="d-block img-fluid" src="{{url_for('static', filename='vino1.jpg')}}" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid" src="{{url_for('static', filename='vino2.jpg')}}" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid" src="{{url_for('static', filename='vino3.jpg')}}" alt="Third slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
                </div>

                
                    <div class="row" , style="padding-top: 50px">

                        <!-- prima riga -->
                        {% for key in vino %}
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card h-100">
                                <a href="#"><img class="card-img-top" src="{{url_for('static', filename='vino.jpg')}}" alt=""></a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a href="#">{{key}}</a>
                                    </h4>
                                    <h5>{{vino[key][0]}} ETH</h5>
                                    <p class="card-text">Vino DOC</p>
                                </div>
                                <div class="card-footer">
                                    <a href="#" onclick="purchase(0, 49.99)">
                                        <h6 align="center" , class="card-link">Compra</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                </div>
        </div>
    </div>


    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Powered by Ethereum</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>


</body>

</html>
