<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Catalogo</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/catalogo.css') }}">

    <script src="{{url_for('static', filename='vendor/js/web3.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>

    <script>
        var getText = null;
        //mi estraggo i parametri che mi porto da pagina iniziale
        var queryString = new Array();
        function onload() {
            if (queryString.length == 0) {
                if (window.location.search.split('?').length > 1) {
                    var parametro = window.location.search.split('?')[1];
                    //name=Mudassar Khan
                        var key = parametro.split('=')[0];
                        var value = decodeURIComponent(parametro.split('=')[1]);
                        //queryString[key] = value;
                        getText = value

                }
            }
        };

        function Send() {
            var name = getText;
            var url = "http://127.0.0.1:8115/?name=" + encodeURIComponent(name);
            window.location.href = url;
        };

         function Send1() {
            var name = getText;
            var url = "http://127.0.0.1:8115/classifica?name=" + encodeURIComponent(name);
            window.location.href = url;
        };

        function Send2() {
            var name = getText;
            var url = "http://127.0.0.1:8115/acquisti?name=" + encodeURIComponent(name);
            window.location.href = url;
        };        

        if (typeof web3 !== 'undefined') {
            web3 = new Web3(web3.currentProvider);
        } else {
            // set the provider you want from Web3.providers
            web3 = new Web3(new Web3.providers.HttpProvider("http://localhost:7545"));
        }

        web3.eth.defaultAccount = web3.eth.accounts[0];

        var SmartContract = web3.eth.contract([
    {
      "constant": false,
      "inputs": [
        {
          "internalType": "string",
          "name": "artId",
          "type": "string"
        },
        {
          "internalType": "address",
          "name": "user",
          "type": "address"
        },
        {
          "internalType": "bytes32",
          "name": "imgn",
          "type": "bytes32"
        }
      ],
      "name": "purchase",
      "outputs": [],
      "payable": false,
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "constant": true,
      "inputs": [
        {
          "internalType": "address",
          "name": "user",
          "type": "address"
        }
      ],
      "name": "getImageNames",
      "outputs": [
        {
          "internalType": "bytes32[]",
          "name": "",
          "type": "bytes32[]"
        }
      ],
      "payable": false,
      "stateMutability": "view",
      "type": "function"
    },
    {
      "constant": true,
      "inputs": [
        {
          "internalType": "address",
          "name": "user",
          "type": "address"
        }
      ],
      "name": "getproducts",
      "outputs": [
        {
          "internalType": "string[]",
          "name": "",
          "type": "string[]"
        }
      ],
      "payable": false,
      "stateMutability": "view",
      "type": "function"
    }
  ]);
        var contract = SmartContract.at("0x822d5099B41dc1c3596dD1f6fcACE366C322A5dc");

        function getUser(){
            if(getText == "Ilaria")
                return web3.eth.accounts[0];
            if(getText == "Andrea")
                return web3.eth.accounts[1];
            if(getText == "Gabriele")
                return web3.eth.accounts[2];
            if(getText == "User4")
                return web3.eth.accounts[3];
            if(getText == "User5")
                return web3.eth.accounts[4];
            if(getText == "User6")
                return web3.eth.accounts[5];
            if(getText == "User7")
                return web3.eth.accounts[6];
            if(getText == "User8")
                return web3.eth.accounts[7];
            if(getText == "User9")
                return web3.eth.accounts[8];
            if(getText == "User10")
                return web3.eth.accounts[9];
            
        }

        function purchase(artId, cost, imgId) {

            var sender = getUser();
            var receiver = web3.eth.accounts[9];
            var img = imgId.toString();
            var img1 = web3.fromAscii(img);
            console.log(typeof img)
            
            

            var balance = web3.eth.getBalance(sender).toNumber();

            console.log(balance);
            console.log(artId);
            console.log(cost);

            var amount = web3.toWei(cost, 'ether');
            console.log(amount)
            if (balance > amount) {
                console.log(sender)
                console.log(artId);
                contract.purchase(artId, sender, img1);
                web3.eth.sendTransaction({
                    from: sender,
                    to: receiver,
                    value: amount
                });
                alert("Complimenti, hai acquistato l'oggetto!");
                document.location.reload(true)
            } else {
                alert("Non hai abbastanza fondi per comprare l'oggetto!");
            }

        }

        function getBuyer(artId) {

            var buyer = contract.buyers(artId);

            return buyer;
        }

        function getBalance() {

            var myBalanceWei = web3.eth.getBalance(web3.eth.defaultAccount).toNumber();
            var myBalance = web3.fromWei(myBalanceWei, 'ether');

            return myBalance;
        }
        jQuery(document).ready(function($){
 
    // Define a blank array for the effect positions. This will be populated based on width of the title.
    var bArray = [];
    // Define a size array, this will be used to vary bubble sizes
    var sArray = [4,6,8,10];
 
    // Push the header width values to bArray
    for (var i = 0; i < $('.bubbles').width(); i++) {
        bArray.push(i);
    }
     
    // Function to select random array element
    // Used within the setInterval a few times
    function randomValue(arr) {
        return arr[Math.floor(Math.random() * arr.length)];
    }
 
    // setInterval function used to create new bubble every 350 milliseconds
    setInterval(function(){
         
        // Get a random size, defined as variable so it can be used for both width and height
        var size = randomValue(sArray);
        // New bubble appeneded to div with it's size and left position being set inline
        // Left value is set through getting a random value from bArray
        $('.bubbles').append('<div class="individual-bubble" style="left: ' + randomValue(bArray) + 'px; width: ' + size + 'px; height:' + size + 'px;"></div>');
         
        // Animate each bubble to the top (bottom 100%) and reduce opacity as it moves
        // Callback function used to remove finsihed animations from the page
        $('.individual-bubble').animate({
            'bottom': '100%',
            'opacity' : '-=0.7'
        }, 3000, function(){
            $(this).remove()
        }
        );
 
 
    }, 350);
 
});

        onload()
    </script>


</head>

<body>
    <script >
        if({{flag}}==1){
            console.log('{{utente}}')
            getText='{{utente}}'
        }
    </script>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" style="font-size: 40px; font-family: Apple Chancery, cursive;" href="#">Ethereum wine shop</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" style="font-size: 40px; font-family:Apple Chancery, cursive;" onclick="Send()">Home
              <span class="sr-only">(current)</span>
            </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="font-size: 40px; font-family:Apple Chancery, cursive;" onclick="Send2()">I miei acquisti</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="font-size: 40px; font-family:Apple Chancery, cursive;" onclick="Send1()">Classifica</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="bubbles">
<h1 id="c" style="color: darkred;font-size: 60px;" ></h1>
</div>

</div>
</div>

<script>document.getElementById("c").innerHTML = getText;</script>

    <!-- Page Content -->
    <div class="container">


        <div class="row">

            <div>
                <div class="row" , style="padding-top: 50px">

                        <!-- prima riga -->
                        {% for key in vino %}
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card h-100">
                                <a href="#"><img class="card-img-top" src="{{url_for('static', filename=vino[key][1]+'.jpg')}}" alt=""></a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a href="#">{{key}}</a>
                                    </h4>
                                    <h5>{{vino[key][0]}} ETH</h5>
                                    <p class="card-text">Vino DOC</p>
                                </div>
                                <div class="card-footer">
                                    <a href="#" onclick="purchase('{{key}}',{{vino[key][0]}}, {{vino[key][1]}})">
                                        <h6 align="center" , class="card-link">Compra</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                </div>
        </div>
    </div>

    


    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Powered by Ethereum</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>


</body>

</html>
