<!DOCTYPE html>
<html>
  <head>
    <title>Wine LeaderBoard</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/leaderboard.css') }}">
    <meta charset="UTF-8">
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
  <script src="{{url_for('static', filename='vendor/js/web3.min.js')}}"></script>
  <script src="{{url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
  <script type="text/javascript">
    var getText = null;
        //mi estraggo i parametri che mi porto da pagina iniziale
        var queryString = new Array();
        window.onload = function () {
            if (queryString.length == 0) {
                if (window.location.search.split('?').length > 1) {
                    var parametro = window.location.search.split('?')[1];
                    //name=Mudassar Khan
                        var key = parametro.split('=')[0];
                        var value = decodeURIComponent(parametro.split('=')[1]);
                        //queryString[key] = value;
                        getText = value

                }
            }
        };
        function Send() {
            var name = getText;
            var url = "http://127.0.0.1:8115/catalogo?name=" + encodeURIComponent(name);
            window.location.href = url;
        };
  </script>

  </head>
  <body>
    <!--  <div class="blog">Visit <a href="#" target="_blank">My Blog</a></div> -->
  <div class="container">
    <div class="leaderboard">
      <div class="head">
        <i class="fas fa-crown"></i>
        <h1>I vini più venduti</h1>
      </div>
      <div class="body">
        <ol>
          <li>
            <mark>Vino1</mark>
            <small>948</small>
          </li>
          <li>
            <mark>Vino2</mark>
            <small>750</small>
          </li>
          <li>
            <mark>Vino3</mark>
            <small>684</small>
          </li>
          <li>
            <mark>Vino4</mark>
            <small>335</small>
          </li>
          <li>
            <mark>Vino5</mark>
            <small>296</small>
          </li>
        </ol>
      </div>
    </div>
  </div>

  <span><a onclick="Send()"></a></span>

  </body>
</html>