<!DOCTYPE html>
<html>
  <head>
    <title>Wine LeaderBoard</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/leaderboard.css') }}">
    <meta charset="UTF-8">
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
  </head>
  <body>
    <!--  <div class="blog">Visit <a href="#" target="_blank">My Blog</a></div> -->
  <div class="container">
    <div class="leaderboard">
      <div class="head">
        <i class="fas fa-crown"></i>
        <h1>I vini più venduti</h1>
      </div>
      <div class="body">
        <ol>
          <li>
            <mark>Vino1</mark>
            <small>948</small>
          </li>
          <li>
            <mark>Vino2</mark>
            <small>750</small>
          </li>
          <li>
            <mark>Vino3</mark>
            <small>684</small>
          </li>
          <li>
            <mark>Vino4</mark>
            <small>335</small>
          </li>
          <li>
            <mark>Vino5</mark>
            <small>296</small>
          </li>
        </ol>
      </div>
    </div>
  </div>

  <span><a href="http://127.0.0.1:8115/catalogo/"></a></span>

  </body>
</html>