<!DOCTYPE html>
<html>
  <head>
    <title>Wine LeaderBoard</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/leaderboard.css') }}">
    <meta charset="UTF-8">
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
  <script src="{{url_for('static', filename='vendor/js/web3.min.js')}}"></script>
  <script src="{{url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
  <script type="text/javascript">
    var getText = null;
        //mi estraggo i parametri che mi porto da pagina iniziale
        var queryString = new Array();
        function onload() {
            if (queryString.length == 0) {
                if (window.location.search.split('?').length > 1) {
                    var parametro = window.location.search.split('?')[1];
                    //name=Mudassar Khan
                        var key = parametro.split('=')[0];
                        var value = decodeURIComponent(parametro.split('=')[1]);
                        //queryString[key] = value;
                        getText = value

                }
            }
        };
        function Send() {
            var name = getText;
            var url = "http://127.0.0.1:8115/catalogo?name=" + encodeURIComponent(name);
            window.location.href = url;
        };

        if (typeof web3 !== 'undefined') {
            web3 = new Web3(web3.currentProvider);
        } else {
            // set the provider you want from Web3.providers
            web3 = new Web3(new Web3.providers.HttpProvider("http://localhost:7545"));
        }

        web3.eth.defaultAccount = web3.eth.accounts[0];
        var SmartContract1 = web3.eth.contract([
            {
              "constant": true,
              "inputs": [
                {
                  "internalType": "uint256",
                  "name": "",
                  "type": "uint256"
                }
              ],
              "name": "candidateList",
              "outputs": [
                {
                  "internalType": "bytes32",
                  "name": "",
                  "type": "bytes32"
                }
              ],
              "payable": false,
              "stateMutability": "view",
              "type": "function"
            },
            {
              "constant": true,
              "inputs": [
                {
                  "internalType": "bytes32",
                  "name": "",
                  "type": "bytes32"
                }
              ],
              "name": "votesReceived",
              "outputs": [
                {
                  "internalType": "uint256",
                  "name": "",
                  "type": "uint256"
                }
              ],
              "payable": false,
              "stateMutability": "view",
              "type": "function"
            },
            {
              "constant": false,
              "inputs": [
                {
                  "internalType": "bytes32[]",
                  "name": "candidateNames",
                  "type": "bytes32[]"
                }
              ],
              "name": "voting",
              "outputs": [],
              "payable": false,
              "stateMutability": "nonpayable",
              "type": "function"
            },
            {
              "constant": true,
              "inputs": [
                {
                  "internalType": "bytes32",
                  "name": "candidate",
                  "type": "bytes32"
                }
              ],
              "name": "totalVotesFor",
              "outputs": [
                {
                  "internalType": "uint256",
                  "name": "",
                  "type": "uint256"
                }
              ],
              "payable": false,
              "stateMutability": "view",
              "type": "function"
            },
            {
              "constant": false,
              "inputs": [
                {
                  "internalType": "bytes32",
                  "name": "candidate",
                  "type": "bytes32"
                }
              ],
              "name": "voteForCandidate",
              "outputs": [],
              "payable": false,
              "stateMutability": "nonpayable",
              "type": "function"
            },
            {
              "constant": true,
              "inputs": [
                {
                  "internalType": "bytes32",
                  "name": "candidate",
                  "type": "bytes32"
                }
              ],
              "name": "validCandidate",
              "outputs": [
                {
                  "internalType": "bool",
                  "name": "",
                  "type": "bool"
                }
              ],
              "payable": false,
              "stateMutability": "view",
              "type": "function"
            },
            {
              "constant": true,
              "inputs": [],
              "name": "getCandidateList",
              "outputs": [
                {
                  "internalType": "bytes32[]",
                  "name": "",
                  "type": "bytes32[]"
                }
              ],
              "payable": false,
              "stateMutability": "view",
              "type": "function"
            }
          ])
          var contract1 = SmartContract1.at("0x6001a2297Ea76F45A20B9e29F1bf79Ec06BA27F5")

          function getUser(){
            if(getText == "Ilaria")
                return web3.eth.accounts[0];
            if(getText == "Andrea")
                return web3.eth.accounts[1];
            if(getText == "Gabriele")
                return web3.eth.accounts[2];
            if(getText == "User4")
                return web3.eth.accounts[3];
            if(getText == "User5")
                return web3.eth.accounts[4];
            if(getText == "User6")
                return web3.eth.accounts[5];
            if(getText == "User7")
                return web3.eth.accounts[6];
            if(getText == "User8")
                return web3.eth.accounts[7];
            if(getText == "User9")
                return web3.eth.accounts[8];
            if(getText == "User10")
                return web3.eth.accounts[9];
            
        }
        function getCandidate(){
          var candidati = contract1.getCandidateList();
          return candidati;
        }
        var cand = getCandidate();
        
        var risultati = []
        for(let i = 0; i< cand.length; i++){
            var e = contract1.totalVotesFor(cand[i])
            var numero = e.toNumber();
            risultati.push(numero)
        }
        console.log(cand)
        for(let i = 0;  i < risultati.length; i+=1){
          $(document).ready(function(){
            $("#prova"+i).text(risultati[i]);
          });
        }
        jQuery(document).ready(function($){
 
    
      var bArray = [];
      
      var sArray = [4,6,8,10];
   
      for (var i = 0; i < $('.bubbles').width(); i++) {
          bArray.push(i);
      }
      
      function randomValue(arr) {
          return arr[Math.floor(Math.random() * arr.length)];
      }
   
      // setInterval function used to create new bubble every 350 milliseconds
      setInterval(function(){
           
          // Get a random size, defined as variable so it can be used for both width and height
          var size = randomValue(sArray);
          // New bubble appeneded to div with it's size and left position being set inline
          // Left value is set through getting a random value from bArray
          $('.bubbles').append('<div class="individual-bubble" style="left: ' + randomValue(bArray) + 'px; width: ' + size + 'px; height:' + size + 'px;"></div>');
           
          // Animate each bubble to the top (bottom 100%) and reduce opacity as it moves
          // Callback function used to remove finsihed animations from the page
          $('.individual-bubble').animate({
              'bottom': '100%',
              'opacity' : '-=0.7'
          }, 3000, function(){
              $(this).remove()
          }
          );
   
   
      }, 350);
 
    });
        onload();

  </script>

  </head>
  <body>
    <div class="bubbles">
        <h1 id="c" style="color: darkred;font-size: 60px;"></h1>
    </div>

    </div>
    </div>

    <script>document.getElementById("c").innerHTML = getText;</script>
  <div class="container">
    <div class="leaderboard">
      <div class="head">
        <i class="fas fa-crown"></i>
        <h1>I vini più venduti</h1>
      </div>
      <div class="body">
        <ol>
          {% for key in vino %}
          <li>
            <mark>{{key}}</mark>
            <small id="prova{{vino[key][1]}}">0</small>
          </li>
          {% endfor %}
        </ol>
      </div>
    </div>
  </div>

  <span><a onclick="Send()"></a></span>

  </body>
</html>