<!DOCTYPE html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <title>Wine Paradise</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styleWelcome.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">
        <script src="{{url_for('static', filename='vendor/js/web3.min.js')}}"></script>
        <script src="{{url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
        <script type="text/javascript">
            
        var getText = null;
        //mi estraggo i parametri che mi porto da pagina iniziale
        var queryString = new Array();
        window.onload = function () {
            if (queryString.length == 0) {
                if (window.location.search.split('?').length > 1) {
                    var parametro = window.location.search.split('?')[1];
                    //name=Mudassar Khan
                        var key = parametro.split('=')[0];
                        var value = decodeURIComponent(parametro.split('=')[1]);
                        //queryString[key] = value;
                        getText = value

                }
            }
        };
        if(getText == null)
            getText ="Ilaria"
        //serie di funzioni che stampano dal menu a tendina l'utente selezionato
        $(document).ready(function() {

          $(".dropdown-menu li a").click(function() {
            getText = $(this).text();

            console.log(getText);
            console.log($(this).closest('.dropdown-menu'));

            $(this).closest('.dropdown-menu').find('.btn').text(getText);

          });
        });


        function Send() {
            var name = getText;
            var url = "catalogo?name=" + encodeURIComponent(name);
            window.location.href = url;
        };
        function Send1() {
            var name = getText;
            var url = "form?name=" + encodeURIComponent(name);
            window.location.href = url;
        };

        </script>


    </head>
    <body>
        

<style type="text/css">
    .test:active {
      font-size: 45px;
}
</style>
<div class="title">
         <h1>Wine<br/>Paradise</h1>
        </div>

<p style="color:#b11226;font-family: Apple Chancery, cursive;font-size:50px; margin-top: 15%;">La vita è troppo breve per bere vini mediocri.
<br>(Johann Wolfgang von Goethe)<br></p>


        <nav role="navigation" class="primary-navigation">
              <ul>
                <li><a onclick = "Send()">Compra</a></li>
                <li><a onclick = "Send1()">Vendi</a></li>
                <li><a type = "button" href="#">Utenti &dtrif;</a>
                  <ul id="utentiid" class="dropdown-menu">
                    <li><a class = "test" href="#">Ilaria</a></li>
                    <li><a  class = "test"href="#">Andrea</a></li>
                    <li><a  class = "test"href="#">Gabriele</a></li>
                    <li><a  class = "test"href="#">User4</a></li>
                    <li><a  class = "test"href="#">User5</a></li>
                    <li><a  class = "test"href="#">User6</a></li>
                    <li><a  class = "test"href="#">User7</a></li>
                    <li><a  class = "test"href="#">User8</a></li>
                    <li><a  class = "test"href="#">User9</a></li>
                    <li><a  class = "test"href="#">User10</a></li>
                  </ul>
                </li>
              </ul>
        </nav>





               <audio style="margin-top: 40%" src="{{url_for('static', filename='paradise.mp3')}}" controls>
<p>If you are reading this, it is because your browser does not support the audio element.</p>
</audio>



    </body>
</html>
