body {
  padding-top: 50px;
  background: url("https://images5.alphacoders.com/889/889806.jpg") no-repeat;
  background-size: cover;
}

table, td, th {  
  border: 1px solid #ddd;
  text-align: left;

}

th {
  background-color: grey;
  color: white;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}

tr:nth-child(even){background-color: #f2f2f2}

#carouselExampleIndicators{
  width: 900px;
  height: 400px;
  margin: 0 auto;
}

#myfooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.card-footer:hover {
    background-color: mediumseagreen;
}


.row{
  overflow: scroll;
  width: 100%;
  height:1200px;
}

.center-outer {
display: table;
width: 100%;
height: 100%;
}

.center-inner {
display: table-cell;
vertical-align: middle;
text-align: center;
}

/* Essential CSS - Makes the effect work */



.bubbles  {
display: inline-block;
font-family: arial;
position: relative;
margin-left: 45%;
margin-top: 1%;
}

.bubbles h1 {
position: relative;
margin: 1em 0 0;
font-family: 'Luckiest Guy', cursive;
color: #fff;
z-index: 2;
}

.individual-bubble {
position: absolute;
border-radius: 100%;
bottom: 10px;
background-color: #fff;
z-index: 1;
}

